body {
    font-family: serif;
    background-color: #191923;
    color: #fff;
    margin: 0;
    padding: 0;
}

button, input {
    font-family: serif;
    font-size: 18px;
}

header {
    display: flex;
    align-items: center;
    margin: 0px 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px 20px;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
    border-radius: 6px;
}

.logo {
    font-size: 24px;
    flex: 1;
}

.nav {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    max-width: 550px;
    position: relative;
}

.nav input[type="search"] {
    width: 100%;
    padding: 5px 10px;
    padding-left: 40px;
    border-radius: 11px;
    border: 2px solid #909090;
    background-color: transparent;
    color: #fff;
}

.search-container::before {
    content: '';
    position: absolute;
    left: 21px; 
    top: calc(50% - 2px);
    width: 9px; 
    height: 9px;
    border: 2px solid #909090; 
    border-radius: 50%; 
    transform: translateY(-50%);
}

.search-container::after {
    content: '';
    position: absolute;
    left: 15px; 
    top: calc(50% + 4px); 
    width: 9px;
    height: 2px;
    background-color: #909090; 
    transform: rotate(-45deg); 
}

.auth-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 11px;
}

.login-btn {
    background-color: transparent;
    color: #fff;
    border: 2px solid #ffffff;
}

.register-btn {
    background-color: #fed905;
    color: #000;
    border: 2px solid #fed905;
}

.page-nav {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.page-nav button {
    background: none;
    border: none;
    color: #909090;
    margin-right: 12px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center; 
}

.arrow-down {
    width: 7px; 
    height: 7px; 
    border-left: 1px solid #909090; 
    border-bottom: 1px solid #909090; 
    transform: rotate(-45deg); 
    margin-left: 5px; 
}


.page-nav button:hover,
.page-nav button.current-page {
    color: #ffffff;
}


.page-nav button:hover .arrow-down,
.page-nav button.current-page .arrow-down {
    border-color: #ffffff;
}

.page-nav button::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.page-nav button:hover::after,
.page-nav button.current-page::after {
    transform: scaleX(1);
}

.filters {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

.filters .filter-btn {
    background-color: #fed905;
    padding: 10px 15px;
    border: none;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
    display: inline-flex;
    align-items: center; 
}

.filter-arrow-down {
    width: 7px; 
    height: 7px; 
    border-left: 1px solid #000; 
    border-bottom: 1px solid #000; 
    transform: rotate(-45deg); 
    margin-left: 5px;
}

.category-buttons {
    display: flex;
    flex-wrap: wrap;
}

.category-buttons button {
    margin-right: 10px;
    padding: 8px 12px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.category-buttons .selected {
    background-color: #fed905;
    color: #000;
    border: none;
}

.content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.grid-item {
    position: relative; 
    border-radius: 10px;
    overflow: hidden; 
    cursor: pointer;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}

.item-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.grid-item:hover .item-details {
    opacity: 1; /* Показываем информацию при наведении */
}

.item-details h3, .item-details p {
    margin: 5px 0;
    font-size: 16px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #fed905; /* Жёлтый фон */
    border-radius: 30px; /* Закругленные углы для создания овала */
    margin: 20px auto; /* Центрируем footer на странице */
    width: 50%; /* Ограничиваем ширину */
    max-width: 450px; /* Максимальная ширина овала */
}

footer button {
    background: none;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    border-radius: 20px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

footer button:hover {
    background-color: #191923;
    color: #fff;
}
